<h1>All Sales Vinyl</h1>

<h3>Available Records</h3>

<% if @albums.any? %>
  <ul>
    <% @albums.each do |album| %>
      <li><a href="/albums/<%= album.id %>"><%= album.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no records to display.</p>
<% end %>
<br>
<a href="/albums/new">Add a new album</a>
<br>
<br>
<a href="/albums/sort">View Sorted List</a>
<br>
<br>
<form action="/albums/search_result"  method="post">

    <label for="search">Search:</label>
    <input id="search" name="search" type="text">
  
  <button type="submit" class="btn">Go!</button>
</form>

<h3>Sold Records</h3>

<% if @sold_albums.any? %>
  <ul>
    <% @sold_albums.each do |element| %>
      <li><%= element.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no records to display.</p>
<% end %>